@model PlugPool.ViewModels.Accounts.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h4>Change Password</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("_Message")

    <div>
        Email :
        @Html.EditorFor(x => x.email)
        <br /> @Html.ValidationMessageFor(x => x.email)
    </div>

    <div>
        Password :
        @Html.PasswordFor(x => x.password)
        <br /> @Html.ValidationMessageFor(x => x.password)
    </div>

    <div>
        Confirm Password :
        @Html.PasswordFor(x => x.confirmPassword)
        <br /> @Html.ValidationMessageFor(x => x.confirmPassword)
    </div>

    <br />
    <input type="submit" value="Submit" />

}



