@model PlugPool.ViewModels.Accounts.EditPasswordViewModel

@{
    ViewBag.Title = "EditPassword";
}

<h2>Edit Password</h2>

@Html.Partial("_Message")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.accountID)

        <div>
                @Html.LabelFor(model => model.currentPassword)
            </div>
            <div>
                @Html.PasswordFor(model => model.currentPassword)
                @Html.ValidationMessageFor(model => model.currentPassword)
            </div>
       

        <div>
                @Html.LabelFor(model => model.newPassword)
            </div>
            <div>
                @Html.PasswordFor(model => model.newPassword)
                @Html.ValidationMessageFor(model => model.newPassword)
            </div>


        <div>
                @Html.LabelFor(model => model.confirmNewPassword)
            </div>
            <div>
                @Html.PasswordFor(model => model.confirmNewPassword)
                @Html.ValidationMessageFor(model => model.confirmNewPassword)
            </div>


        <div>
                <input type="submit" value="Save"/>
                @Html.ActionLink("Back", "AccountDetails", new { id = Model.accountID })
            </div>

}

